Repository NOPLAB/g4-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware, cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

cargo-fmt-firmware:
  name: cargo fmt (firmware)
  description: Format firmware Rust code with cargo fmt
  entry: bash -c 'cd firmware && cargo fmt --all --check'
  language: system
  pass_filenames: false

cargo-clippy-firmware:
  name: cargo clippy (firmware)
  description: Lint firmware Rust code with cargo clippy
  entry: bash -c 'cd firmware && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-build-firmware:
  name: cargo build (firmware)
  description: Build firmware to catch compilation errors
  entry: bash -c 'cd firmware && cargo build'
  language: system
  pass_filenames: false

cargo-fmt-controller:
  name: cargo fmt (controller)
  description: Format controller Rust code with cargo fmt
  entry: bash -c 'cd controller && cargo fmt --all --check'
  language: system
  pass_filenames: false

cargo-clippy-controller:
  name: cargo clippy (controller)
  description: Lint controller Rust code with cargo clippy
  entry: bash -c 'cd controller && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-test-controller:
  name: cargo test (controller)
  description: Run controller Rust tests with cargo test
  entry: bash -c 'cd controller && cargo test'
  language: system
  pass_filenames: false

pre-commit
  .claude/settings.json
  controller/src/can/manager.rs
  controller/src/can/protocol.rs
  controller/src/can/setup.rs
  controller/src/main.rs
  controller/src/ui/components/card.rs
  controller/src/ui/components/mod.rs
  controller/src/ui/components/number_input.rs
  controller/src/ui/components/status_indicator.rs
  controller/src/ui/connection.rs
  controller/src/ui/control.rs
  controller/src/ui/settings.rs
  firmware/src/can_protocol.rs
  firmware/src/config/eeprom.rs
  firmware/src/config/storage.rs
  firmware/src/foc.rs
  firmware/src/foc/calibration.rs
  firmware/src/foc/hall_sensor.rs
  firmware/src/foc/shaft_position.rs
  firmware/src/hall_tim.rs
  firmware/src/main.rs
  firmware/src/state.rs
  firmware/src/tasks/can.rs
  firmware/src/tasks/motor_control.rs
  firmware/src/tasks/voltage_monitor.rs
  firmware/src/voltage_monitor.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware, cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

controllerの構造を更新
  controller/src/can.rs
  controller/src/ui.rs
  controller/src/ui/components.rs
Due: cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

モーター制御のモジュール化とコード構造改善
  CLAUDE.md
  firmware/src/benchmark.rs
  firmware/src/config/params.rs
  firmware/src/config/storage.rs
  firmware/src/foc.rs
  firmware/src/foc/calibration.rs
  firmware/src/foc/hall_sensor.rs
  firmware/src/foc/openloop_six_step.rs
  firmware/src/foc/transforms.rs
  firmware/src/main.rs
  firmware/src/motor_driver.rs
  firmware/src/state.rs
  firmware/src/tasks/can.rs
  firmware/src/tasks/motor_control.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

コマンドの追加
  .claude/commands/commit.md
Due: none

chore: rust update to 1.93.0
  rust-toolchain.toml
Due: none

docs: CLAUDE.mdを簡潔化し可読性を向上
  CLAUDE.md
Due: none

refactor: mod.rs
  firmware/src/config/mod.rs
  firmware/src/foc/mod.rs
  firmware/src/tasks/mod.rs
  firmware/src/tasks/motor_control/mod.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

refactor(controller): モジュール構造をmod.rsスタイルに変更
  controller/src/can/mod.rs
  controller/src/ui/components/mod.rs
  controller/src/ui/mod.rs
Due: cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

refactor(firmware): 状態管理をコンテキストベースのヘルパー関数に統一
  firmware/src/init/config_loader.rs
  firmware/src/init/mod.rs
  firmware/src/main.rs
  firmware/src/state.rs
  firmware/src/tasks/can.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
  firmware/src/tasks/voltage_monitor.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(firmware): Hall駆動とFOC制御の信頼性向上
  firmware/src/can_protocol.rs
  firmware/src/config/params.rs
  firmware/src/foc/calibration.rs
  firmware/src/foc/hall_sensor.rs
  firmware/src/foc/openloop_six_step.rs
  firmware/src/hall_tim.rs
  firmware/src/main.rs
  firmware/src/state.rs
  firmware/src/tasks/can.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

fix(firmware): Hallセンサの状態読み取り競合を修正
  firmware/src/foc/hall_sensor.rs
  firmware/src/tasks/motor_control/foc_mode.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

perf(firmware): 制御周期を5kHzに高速化し計算処理を最適化
  firmware/src/config/params.rs
  firmware/src/foc/hall_sensor.rs
  firmware/src/foc/svpwm.rs
  firmware/src/foc/transforms.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

perf(firmware): FOC制御ループのMutexロック削減による高速化
  firmware/src/can_protocol.rs
  firmware/src/config/params.rs
  firmware/src/state.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

perf(firmware): 制御周期を10kHzに高速化しHall状態読み取りを最適化
  firmware/src/config/params.rs
  firmware/src/foc/calibration.rs
  firmware/src/foc/hall_sensor.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(firmware): FOC脱落検出とOpenLoop自動復帰機能を追加
  firmware/src/config/params.rs
  firmware/src/foc/calibration.rs
  firmware/src/state.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

chore: Claude Code許可設定を整理
  .claude/settings.json
Due: none

feat(firmware): デッドタイム補償とフラックス弱め制御を追加
  firmware/src/config/params.rs
  firmware/src/foc/dead_time_compensation.rs
  firmware/src/foc/flux_weakening.rs
  firmware/src/foc/mod.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

refactor: CANプロトコルを共通クレートに分離
  Cargo.lock
  Cargo.toml
  controller/Cargo.toml
  controller/src/can/manager.rs
  controller/src/can/mod.rs
  controller/src/can/protocol.rs
  controller/src/state.rs
  firmware/Cargo.toml
  firmware/src/main.rs
  firmware/src/state.rs
  firmware/src/tasks/can.rs
  protocol/Cargo.toml
  protocol/src/lib.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware, cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

feat: パフォーマンス分析スキルを追加
  .claude/skills/perf.md
Due: none

feat: リファクタリングスキルを追加
  .claude/skills/refactor.md
Due: none

chore: コミットコマンドの説明を改善
  .claude/commands/commit.md
Due: none

refactor(firmware): アーキテクチャ全体をリファクタリング
  firmware/src/foc/calibration.rs
  firmware/src/foc/calibration/mod.rs
  firmware/src/foc/calibration/offset_calc.rs
  firmware/src/foc/calibration/sector_sampler.rs
  firmware/src/foc/hall/angle.rs
  firmware/src/foc/hall/constants.rs
  firmware/src/foc/hall/interpolator.rs
  firmware/src/foc/hall/mod.rs
  firmware/src/foc/hall/speed_filter.rs
  firmware/src/foc/hall/state_machine.rs
  firmware/src/foc/hall/utils.rs
  firmware/src/foc/hall_sensor.rs
  firmware/src/foc/mod.rs
  firmware/src/init/config_loader.rs
  firmware/src/main.rs
  firmware/src/state.rs
  firmware/src/tasks/can.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/mod.rs
  firmware/src/tasks/motor_control/mode.rs
  firmware/src/tasks/motor_control/resources.rs
  firmware/src/tasks/voltage_monitor.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

fix(firmware): Embed.tomlのチップ名を正しいものに修正
  firmware/Embed.toml
Due: none

docs: Option Bytes設定をob.jsonに記録
  ob.json
Due: none

feat(bldc): ハードウェア非依存のBLDCモーター制御ライブラリを追加
  bldc/Cargo.toml
  bldc/src/control/foc.rs
  bldc/src/control/mod.rs
  bldc/src/control/pi.rs
  bldc/src/control/six_step.rs
  bldc/src/lib.rs
  bldc/src/modulation/mod.rs
  bldc/src/modulation/svpwm.rs
  bldc/src/sensors/hall.rs
  bldc/src/sensors/mod.rs
  bldc/src/traits.rs
  bldc/src/transforms/clarke.rs
  bldc/src/transforms/mod.rs
  bldc/src/transforms/park.rs
  bldc/src/transforms/utils.rs
Due: none

chore: ワークスペースにbldcクレートを追加
  Cargo.lock
  Cargo.toml
Due: none

feat(firmware): bldcクレートを使用してFOC制御を抽象化
  .claude/commands/commit.md
  bldc/src/control/foc.rs
  bldc/src/modulation/mod.rs
  bldc/src/sensors/hall.rs
  firmware/Cargo.toml
  firmware/src/adapters/hall_adapter.rs
  firmware/src/adapters/mod.rs
  firmware/src/adapters/pwm_adapter.rs
  firmware/src/foc/mod.rs
  firmware/src/foc/svpwm.rs
  firmware/src/foc/transforms.rs
  firmware/src/main.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
  ob.json
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

refactor: calibration/compensation/positionをbldcクレートに移植
  bldc/Cargo.toml
  bldc/src/calibration/mod.rs
  bldc/src/calibration/offset_calc.rs
  bldc/src/calibration/sector_sampler.rs
  bldc/src/compensation/dead_time.rs
  bldc/src/compensation/flux_weakening.rs
  bldc/src/compensation/mod.rs
  bldc/src/lib.rs
  bldc/src/position.rs
  bldc/src/traits.rs
  firmware/Cargo.toml
  firmware/src/adapters/hall_adapter.rs
  firmware/src/adapters/mod.rs
  firmware/src/benchmark.rs
  firmware/src/foc/calibration/offset_calc.rs
  firmware/src/foc/mod.rs
  firmware/src/foc/svpwm.rs
  firmware/src/foc/transforms.rs
  firmware/src/main.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat: 全定数のEEPROM保存・UI設定対応
  controller/src/can/manager.rs
  controller/src/state.rs
  controller/src/ui/settings.rs
  firmware/src/config/storage.rs
  firmware/src/tasks/can.rs
  protocol/src/lib.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware, cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

refactor(firmware): focディレクトリを削除しbldcクレートに統合
  firmware/src/adapters/hall_adapter.rs
  firmware/src/adapters/mod.rs
  firmware/src/foc/hall/angle.rs
  firmware/src/foc/hall/constants.rs
  firmware/src/foc/hall/interpolator.rs
  firmware/src/foc/hall/mod.rs
  firmware/src/foc/hall/speed_filter.rs
  firmware/src/foc/hall/state_machine.rs
  firmware/src/foc/hall/utils.rs
  firmware/src/foc/mod.rs
  firmware/src/foc/openloop_six_step.rs
  firmware/src/foc/pi_controller.rs
  firmware/src/main.rs
  firmware/src/state.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
  firmware/src/tasks/motor_control/mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
  firmware/src/tasks/motor_control/resources.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat: BLDCモーター物理シミュレーションクレート(bldc-sim)を追加
  .gitignore
  Cargo.lock
  Cargo.toml
  bldc-sim/Cargo.toml
  bldc-sim/src/lib.rs
  bldc-sim/src/motor_model/dynamics.rs
  bldc-sim/src/motor_model/mod.rs
  bldc-sim/src/motor_model/params.rs
  bldc-sim/src/motor_model/state.rs
  bldc-sim/src/nonlinear/cogging.rs
  bldc-sim/src/nonlinear/dead_time.rs
  bldc-sim/src/nonlinear/mod.rs
  bldc-sim/src/nonlinear/saturation.rs
  bldc-sim/src/output/csv.rs
  bldc-sim/src/output/mod.rs
  bldc-sim/src/output/plotting.rs
  bldc-sim/src/scenarios/disturbance.rs
  bldc-sim/src/scenarios/mod.rs
  bldc-sim/src/scenarios/ramp.rs
  bldc-sim/src/scenarios/startup.rs
  bldc-sim/src/scenarios/step.rs
  bldc-sim/src/scenarios/traits.rs
  bldc-sim/src/simulation/engine.rs
  bldc-sim/src/simulation/hall_emulator.rs
  bldc-sim/src/simulation/integration.rs
  bldc-sim/src/simulation/mod.rs
  bldc-sim/src/thermal/mod.rs
  bldc-sim/src/thermal/model.rs
  bldc-sim/src/validation/criteria.rs
  bldc-sim/src/validation/metrics.rs
  bldc-sim/src/validation/mod.rs
  bldc-sim/tests/integration_tests.rs
Due: none

feat(bldc): PIコントローラーに積分項リミットとスルーレートリミットを追加
  bldc/src/control/pi.rs
Due: none

refactor(firmware): モーター状態管理をMotorStateとRuntimeCountersに統合
  bldc-sim/src/lib.rs
  bldc-sim/src/motor_model/dynamics.rs
  bldc-sim/src/motor_model/params.rs
  bldc-sim/src/nonlinear/dead_time.rs
  bldc-sim/src/nonlinear/mod.rs
  bldc-sim/src/nonlinear/saturation.rs
  bldc-sim/src/output/csv.rs
  bldc-sim/src/output/plotting.rs
  bldc-sim/src/scenarios/mod.rs
  bldc-sim/src/scenarios/step.rs
  bldc-sim/src/scenarios/traits.rs
  bldc-sim/src/simulation/engine.rs
  bldc-sim/src/simulation/integration.rs
  bldc-sim/src/thermal/mod.rs
  bldc-sim/src/thermal/model.rs
  bldc-sim/src/validation/criteria.rs
  bldc-sim/src/validation/metrics.rs
  bldc/src/control/pi.rs
  firmware/src/config/params.rs
  firmware/src/config/storage.rs
  firmware/src/state.rs
  firmware/src/tasks/can.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
  firmware/src/tasks/motor_control/mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
  firmware/src/tasks/motor_control/resources.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(firmware): OpenLoopのHall駆動をSVPWMベースに変更しFOC移行を改善
  bldc/src/control/pi.rs
  bldc/src/sensors/hall.rs
  firmware/src/adapters/hall_adapter.rs
  firmware/src/config/eeprom.rs
  firmware/src/config/mod.rs
  firmware/src/config/params.rs
  firmware/src/init/config_loader.rs
  firmware/src/state.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
  firmware/src/tasks/motor_control/resources.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(firmware): 制御周期を20kHzに変更し、デフォルト目標速度を調整
  firmware/src/config/params.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(firmware): 制御周期を50kHzに変更
  firmware/src/config/params.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(can): 起動時CANバス接続確認とステータス送信機能を追加
  firmware/src/tasks/can.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

refactor(controller): UserSettings構造体分割とMotorCommand enumベースAPIを導入
  controller/src/can/commands.rs
  controller/src/can/manager.rs
  controller/src/can/mod.rs
  controller/src/state.rs
  controller/src/ui/control.rs
  controller/src/ui/settings.rs
Due: cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

feat(firmware): Hallセンサー読み取りにシーケンスロック機構を追加
  firmware/src/adapters/hall_adapter.rs
  firmware/src/hall_tim.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(motor): 逆転（マイナス速度）対応を実装
  bldc/src/control/six_step.rs
  controller/src/ui/control.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware, cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

Path conditions:
  cargo-fmt-firmware: any of: ^firmware/.*\.rs$
  cargo-clippy-firmware: any of: ^firmware/.*\.rs$
  cargo-build-firmware: any of: ^firmware/.*\.rs$
  cargo-fmt-controller: any of: ^controller/.*\.rs$
  cargo-clippy-controller: any of: ^controller/.*\.rs$
  cargo-test-controller: any of: ^controller/.*\.rs$
