Repository NOPLAB/g4-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware, cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

cargo-fmt-firmware:
  name: cargo fmt (firmware)
  description: Format firmware Rust code with cargo fmt
  entry: bash -c 'cd firmware && cargo fmt --all --check'
  language: system
  pass_filenames: false

cargo-clippy-firmware:
  name: cargo clippy (firmware)
  description: Lint firmware Rust code with cargo clippy
  entry: bash -c 'cd firmware && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-build-firmware:
  name: cargo build (firmware)
  description: Build firmware to catch compilation errors
  entry: bash -c 'cd firmware && cargo build'
  language: system
  pass_filenames: false

cargo-fmt-controller:
  name: cargo fmt (controller)
  description: Format controller Rust code with cargo fmt
  entry: bash -c 'cd controller && cargo fmt --all --check'
  language: system
  pass_filenames: false

cargo-clippy-controller:
  name: cargo clippy (controller)
  description: Lint controller Rust code with cargo clippy
  entry: bash -c 'cd controller && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-test-controller:
  name: cargo test (controller)
  description: Run controller Rust tests with cargo test
  entry: bash -c 'cd controller && cargo test'
  language: system
  pass_filenames: false

fix(can): CANバス未接続時のRXエラーログを抑制
  Cargo.lock
  firmware/src/tasks/can.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

fix(can): RXエラーログの連続出力を抑制
  firmware/src/tasks/can.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

fix(can): RXエラー時の待機処理を追加
  firmware/src/tasks/can.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(controller): tokio-socketcan を tokio-serial + SLCAN に置き換え
  Cargo.lock
  controller/Cargo.toml
  controller/src/can/manager.rs
  controller/src/can/mod.rs
  controller/src/can/serial_port.rs
  controller/src/can/setup.rs
  controller/src/can/slcan/frame.rs
  controller/src/can/slcan/mod.rs
  controller/src/can/slcan/protocol.rs
  controller/src/can/slcan/stream.rs
  controller/src/state.rs
  controller/src/ui/connection.rs
Due: cargo-fmt-controller, cargo-clippy-controller, cargo-test-controller

refactor(openloop): 6ステップ強制転流をSVPWMベースに置き換え
  bldc/src/control/six_step.rs
  firmware/src/config/params.rs
  firmware/src/state.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
  firmware/src/tasks/motor_control/resources.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

refactor(motor_control): bldcクレート拡張によるfirmware簡素化
  bldc/src/compensation/dead_time.rs
  bldc/src/compensation/flux_weakening.rs
  bldc/src/control/foc.rs
  bldc/src/control/mod.rs
  bldc/src/control/six_step.rs
  bldc/src/control/speed_ramp.rs
  bldc/src/control/stall_detector.rs
  bldc/src/lib.rs
  firmware/src/adapters/hall_adapter.rs
  firmware/src/config/params.rs
  firmware/src/state.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
  firmware/src/tasks/motor_control/resources.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(gate_driver): STSPIN32G4ゲートドライバーIC初期化処理を追加
  firmware/src/gate_driver/mod.rs
  firmware/src/gate_driver/registers.rs
  firmware/src/main.rs
  firmware/src/motor_driver.rs
  firmware/src/tasks/motor_control/mod.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

refactor(motor_driver): ハードウェア抽象化レイヤーをトレイトベースに再構成
  firmware/src/adapters/hall_adapter.rs
  firmware/src/adapters/mod.rs
  firmware/src/adapters/pwm_adapter.rs
  firmware/src/hardware.rs
  firmware/src/main.rs
  firmware/src/motor_driver/mod.rs
  firmware/src/motor_driver/stspin_g431/gate.rs
  firmware/src/motor_driver/stspin_g431/hall.rs
  firmware/src/motor_driver/stspin_g431/mod.rs
  firmware/src/motor_driver/stspin_g431/pwm.rs
  firmware/src/motor_driver/stspin_g431/registers.rs
  firmware/src/motor_driver/traits.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
  firmware/src/tasks/motor_control/resources.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

refactor(bldc): MotorCalibration::newからトルク引数を削除
  bldc/src/calibration/mod.rs
  firmware/src/adapters/hall_adapter.rs
  firmware/src/board/mod.rs
  firmware/src/board/stspin_g431/adc.rs
  firmware/src/board/stspin_g431/can.rs
  firmware/src/board/stspin_g431/clock.rs
  firmware/src/board/stspin_g431/gate.rs
  firmware/src/board/stspin_g431/gpio.rs
  firmware/src/board/stspin_g431/hall/isr.rs
  firmware/src/board/stspin_g431/hall/mod.rs
  firmware/src/board/stspin_g431/hall/state.rs
  firmware/src/board/stspin_g431/mod.rs
  firmware/src/board/stspin_g431/pwm.rs
  firmware/src/board/stspin_g431/registers.rs
  firmware/src/board/traits.rs
  firmware/src/main.rs
  firmware/src/motor_driver/mod.rs
  firmware/src/motor_driver/stspin_g431/mod.rs
  firmware/src/tasks/can.rs
  firmware/src/tasks/led.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/mod.rs
  firmware/src/tasks/motor_control/mode.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
  firmware/src/tasks/motor_control/resources.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

chore(state): キャリブレーションのデフォルトトルクを10→5に変更
  firmware/src/state.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

refactor(motor_control): ステートマシンベースのアーキテクチャに再構成
  firmware/src/state.rs
  firmware/src/tasks/motor_control/calibration_mode.rs
  firmware/src/tasks/motor_control/foc_mode.rs
  firmware/src/tasks/motor_control/hardware.rs
  firmware/src/tasks/motor_control/logging.rs
  firmware/src/tasks/motor_control/mod.rs
  firmware/src/tasks/motor_control/mode.rs
  firmware/src/tasks/motor_control/modes/calibration.rs
  firmware/src/tasks/motor_control/modes/foc.rs
  firmware/src/tasks/motor_control/modes/mod.rs
  firmware/src/tasks/motor_control/modes/openloop.rs
  firmware/src/tasks/motor_control/openloop_mode.rs
  firmware/src/tasks/motor_control/resources.rs
  firmware/src/tasks/motor_control/state_machine.rs
  firmware/src/tasks/motor_control/transition.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

feat(hall): Hallセンサーノイズ耐性を強化
  firmware/src/adapters/hall_adapter.rs
  firmware/src/board/stspin_g431/hall/isr.rs
  firmware/src/config/params.rs
  firmware/src/state.rs
  firmware/src/tasks/can.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

docs: データシートの公式リンクをREADMEに追加
  README.md
Due: none

ci: GitHub ActionsによるCI/CDパイプラインを追加
  .github/workflows/ci.yml
  README.md
  firmware/src/tasks/can.rs
  firmware/src/tasks/motor_control/transition.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

fix(ci): rust-toolchainにclippyコンポーネントを追加
  rust-toolchain.toml
Due: none

refactor(ci): clippy/testをワークスペースレベルで実行
  .github/workflows/ci.yml
Due: none

fix(ci): Dioxusデスクトップ用のシステム依存関係を追加
  .github/workflows/ci.yml
Due: none

fix(firmware): embassy-stm32 0.5.0のAPI変更に対応
  CLAUDE.md
  Cargo.lock
  firmware/src/board/stspin_g431/adc.rs
  firmware/src/board/stspin_g431/mod.rs
  firmware/src/board/stspin_g431/pwm.rs
  firmware/src/tasks/voltage_monitor.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

fix(bldc): set_target_speed_rpmの単位変換バグを修正
  bldc/src/control/foc.rs
Due: none

feat(ci): シミュレーション結果のPNG出力をCIに追加
  .github/workflows/ci.yml
  README.md
  docs/images/simulation/load_disturbance_large.png
  docs/images/simulation/load_disturbance_small.png
  docs/images/simulation/ramp_0_to_500.png
  docs/images/simulation/slow_ramp.png
  docs/images/simulation/startup_basic.png
  docs/images/simulation/startup_high_speed.png
  docs/images/simulation/startup_with_load.png
  docs/images/simulation/step_response_1000rpm.png
  docs/images/simulation/step_response_500rpm.png
  docs/images/simulation/step_response_with_load.png
Due: none

docs: README.mdにシミュレーションパラメータを追加
  README.md
Due: none

chore(lint): bldc/protocolにmissing_docs = denyを追加
  bldc/Cargo.toml
  protocol/Cargo.toml
Due: none

refactor(pre-commit): ワークスペースレベルでfmt/clippy/testを実行
  .pre-commit-config.yaml
  bldc-sim/src/simulation/hall_emulator.rs
  bldc/src/compensation/flux_weakening.rs
  protocol/src/lib.rs
Due: none

chore(ci): clippyにall-targets/all-featuresを追加
  .github/workflows/ci.yml
Due: none

feat(bldc-sim): モーターパラメータをMaxon EC-i 40に変更
  README.md
  bldc-sim/src/motor_model/params.rs
Due: none

docs: READMEのセクション順序を変更
  README.md
Due: none

refactor: 状態機械をbldcクレートに移行
  .claude/settings.json
  README.md
  bldc-sim/Cargo.toml
  bldc-sim/src/scenarios/mod.rs
  bldc-sim/src/scenarios/state_machine.rs
  bldc-sim/src/simulation/adapters.rs
  bldc-sim/src/simulation/engine.rs
  bldc-sim/src/simulation/mod.rs
  bldc-sim/tests/integration_tests.rs
  bldc/Cargo.toml
  bldc/src/calibration/mod.rs
  bldc/src/lib.rs
  bldc/src/state_machine/config.rs
  bldc/src/state_machine/mod.rs
  bldc/src/state_machine/modes/calibration.rs
  bldc/src/state_machine/modes/foc.rs
  bldc/src/state_machine/modes/mod.rs
  bldc/src/state_machine/modes/openloop.rs
  bldc/src/traits.rs
  firmware/Cargo.toml
  firmware/src/adapters/hall_adapter.rs
  firmware/src/adapters/mod.rs
  firmware/src/board/mod.rs
  firmware/src/board/stspin_g431/hall/state.rs
  firmware/src/board/stspin_g431/mod.rs
  firmware/src/board/stspin_g431/pwm.rs
  firmware/src/state.rs
  firmware/src/tasks/motor_control/adapters.rs
  firmware/src/tasks/motor_control/hardware.rs
  firmware/src/tasks/motor_control/logging.rs
  firmware/src/tasks/motor_control/mod.rs
  firmware/src/tasks/motor_control/modes/calibration.rs
  firmware/src/tasks/motor_control/modes/foc.rs
  firmware/src/tasks/motor_control/modes/mod.rs
  firmware/src/tasks/motor_control/modes/openloop.rs
  firmware/src/tasks/motor_control/state_machine.rs
  firmware/src/tasks/motor_control/transition.rs
Due: cargo-fmt-firmware, cargo-clippy-firmware, cargo-build-firmware

Path conditions:
  cargo-fmt-firmware: any of: ^firmware/.*\.rs$
  cargo-clippy-firmware: any of: ^firmware/.*\.rs$
  cargo-build-firmware: any of: ^firmware/.*\.rs$
  cargo-fmt-controller: any of: ^controller/.*\.rs$
  cargo-clippy-controller: any of: ^controller/.*\.rs$
  cargo-test-controller: any of: ^controller/.*\.rs$
